:root {
  --background: #080f2b;
  --primary: #EDEFF5;
  --secondary: #4A90E2;
  --tertiary: #17A2B8;
  --success-green: #28C76F;
  --warning-yellow: #FFC107;
  --danger-red: #F64E60;

  /* Neutral Colors */
  --neutral-dark-gray: #2C2E3E;
  --neutral-light-gray: #B0B3C7;
  --neutral-white: #f3f2f2;

  /*Text colors*/
  --primary-text-color: #1A1F36;

  /*Paddings and margins*/
  --consistent-padding: 0.5rem;
  --consistent-margin: 0.5rem;
  --consistent-border-radius: 5px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #bdbdbd;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btnPrimary {
  border-radius: var(--consistent-border-radius);
  min-width: 10rem;
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

.btnPrimary:hover:not(.btnPrimaryDisabled) {
  background-color: #5DADE2;
}

.btnPrimaryDisabled {
  background-color: #A0C4E2;
  color: #D1D5DB;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Thumb (draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
