.chatBlock {
  padding: var(--consistent-padding);
  border-radius: var(--consistent-border-radius);
  border: 1px solid #ffffff;
  margin-bottom: var(--consistent-margin);
  overflow-x: auto;
}

.chatBlock ul, .chatBlock ol {
  margin: 0;
  padding-left: 1rem;
}