.mainWrapperContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subWrapperContainer {
    width: 70%;
}

.searchContainer {
    display: flex;
    width: 100%;
    padding: var(--consistent-padding);
}

.input {
    padding: var(--consistent-padding);
    width: 100%;
    margin-right: var(--consistent-margin);
    border-radius: 40px;
    background-color: var(--neutral-white);
    color: var(--primary-text-color);
}