.mainWrapperContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subWrapperContainer {
    width: 70%;
}

.searchContainer {
    display: flex;
    width: 100%;
    padding: var(--consistent-padding);
}

.input {
    padding: 0.8rem;
    width: 100%;
    margin-right: var(--consistent-margin);
    border-radius: 40px;
    background-color: #040612;
    color: var(--primary-text-color);
    border: 1px solid #1b203c;
}

.input:focus {
    border: 1px solid #212749 !important;
    outline: none;
}